:root {
  --background-color: rgb(252, 215, 221);
}
* {
  text-align: center;
  word-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: visible;
}
body {
  background-color: antiquewhite;
}
a {
  margin: 10px;
}
h1 {
  margin-bottom: 20px;
}
img {
  margin-top: 20px;
  width: 90%;
  height: 70%;
}
.back {
  background-color: var(--background-color);
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}
